<!-- 
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://222.1.20.1:8080" />
    <add key="http_proxy.user" value="proxy_user" />
    <add key="http_proxy.password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjfDXwlLfcUCTh7BMY1vZDgAAAAACAAAAAAAQZgAAAAEAACAAAADQBSti3L6cw2RmKgM8mCOaPHDsksnblVhKuy+8NkhHCQAAAAAOgAAAAAIAACAAAAAWrMWibKeSMPWP5mPOiLmYal0Z5Y5lUvhz3ABpPtVjEBAAAADRAqhgNk8aiyAmkb9O4DgPQAAAAPtzH5QPkfbNS6ULE8+A3Nv5SMb8x4JgfxgE63+xgINNMDGd2tB5syPyKwLvX4QUOay1IqZ9CR0fpYwu8UHujro=" />
    <add key="https_proxy" value="http://222.1.20.1:8080" />
    <add key="https_proxy.user" value="proxy_user" />
    <add key="https_proxy.password" value="CHANGE_ME" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
-->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Отключаем стандартный источник, чтобы не было попыток выхода в сеть -->
    <clear />
    <!-- Добавляем нашу локальную папку как источник -->
    <add key="LocalPackages" value="G:\AI\IIChatTools\LocalPackages" />
  </packageSources>
</configuration>