<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://222.1.20.1:8080" />
    <add key="http_proxy.user" value="nikiforov" />
    <add key="http_proxy.password" value="6989" />
    <add key="https_proxy" value="http://222.1.20.1:8080" />
    <add key="https_proxy.user" value="nikiforov" />
    <add key="https_proxy.password" value="6989" />
  </config>
  <packageSources>
    <!-- Отключаем стандартный источник, чтобы не было попыток выхода в сеть -->
    <clear />
    <!-- Добавляем нашу локальную папку как источник -->
    <add key="LocalPackages" value="G:\AI\IIChatTools\LocalPackages" />
  </packageSources>
</configuration>